@import "color";
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.alert_wrap {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  padding: 10px 20px;
}
.alert_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(-20px);
  &.success {
    background-color: $green01;
  }
  &.error {
    background-color: $red01;
  }
  span {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    padding: 5px;
  }
  &.on {
    animation: fade 2.5s linear ;
  }
}

