@import "color";

.input {
  width: 250px;
  height: 45px;
  background-color: #fff;
  border: 1px solid $gray03;
  border-radius: 5px;
  padding: 5px 15px;
  outline: none;
  transition: border 0.4s;
  &.focused {
    border: 1px solid $green02;
  }
  &.disabled {
    border: none;
    color: $gray02;
    background-color: $gray03;
  }
}