@import "color";
@keyframes text {
  0%{
    opacity: 0;
    transform: translate(-75%,-45%);
  }
  100% {
    opacity: 1;
    transform: translate(-55%,-45%);
  }
}
@keyframes ball {
  0% {
    transform: translateX(600px);   
  }
  100% {
    transform: translateX(0);
  }

}
.landing_wrap {
  position: relative;
  height: 90vh;
  min-width: 1000px;
  min-height: 650px;
  margin: 5vh;
  overflow-x: hidden;
  .bg_color {
    display: flex;
    width: 100%;
    height: 100%;
    .left {
      width: 50%;
      height: 100%;
      background-color: $green02;
    }
    .right {
      width: 50%;
      height: 100%;
      background-color: $gray04;
    }
  }
  h1 {
    font-family: 'KOTRA_BOLD-Bold';
    font-size: 12rem;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-55%,-45%);
    line-height: 1;
    animation: text .8s ease-in-out;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    &::before {
      content: '';
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $green02;
      position: absolute;
      bottom: 28px;
      right: -60px;
      animation: ball 1.2s ease-in-out;
    }
    // cubic-bezier(0.42, 0, 0.38, 1.19);
  }
}

